<div class="container">
  <carousel>
    <slide>
      <img src="assets/images/pizza.jpg" alt="First slide" class="item-img">
      <div class="carousel-caption">
        <h3>Pepperoni pizza</h3>
        <p>Our robust, tasty Pepperoni Pizza starts with our savory sauce of vine-ripened tomatoes, extra virgin olive oil, garlic, and spices spread over a baked-to-perfection thin and crispy gluten free crust.</p>
      </div>
    </slide>
    <slide>
      <img src="assets/images/hamburguer.jpg" alt="Second slide" class="item-img">
      <div class="carousel-caption">
        <h3>Traditional Hamburguer</h3>
        <p>A Traditional Hamburger is a sandwich consisting of one or more cooked patties of ground meat, usually beef, placed inside a sliced bread roll or bun.</p>
      </div>
    </slide>
    <slide>
      <img src="assets/images/french-fries.jpg" alt="Third slide" class="item-img">
      <div class="carousel-caption">
        <h3>French Fry</h3>
        <p>The ideal french fry is golden brown in color, crisp on the outside, fluffy on the inside, and not too oily. </p>
      </div>
    </slide>
  </carousel>
</div>